<a href="https://colab.research.google.com/github/saiRajAj/DAVIS/blob/main/4_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to sum all the items in a list.

In [1]:
list1 = [10,20,30,40,50]
print(sum(list1))

150

Write a Python program to get the largest and smallest number from a list without
builtin functions.

In [2]:
list1 = [10,20,30,50,60,40]
min = list1[0]
max = list1[0]
for i in list1:
  if i < min:
    min = i
  if i > max:
    max = i
print(min)
print(max)

10
60

Write a Python program to find duplicate values from a list and display those.

In [3]:
list1 = [10,20,30,10,30,50]
duplicates = []
seen = set()

for item in list1:
  if item in seen:
    duplicates.append(item)
  else:
    seen.add(item)

print("Duplicate values:", list(set(duplicates)))

Duplicate values: [10, 30]

Write a Python program to split a given list into two parts where the length of the first
part of the list is given.
Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3
Splitted the said list into two parts:
([1, 1, 2], [3, 4, 4, 5, 1])

In [4]:
original_list = [1, 1, 2, 3, 4, 4, 5, 1]
length_first_part = 3

In [5]:
first_part = original_list[:length_first_part]
second_part = original_list[length_first_part:]

print("Original list:", original_list)
print("Length of the first part of the list:", length_first_part)
print("Splitted the said list into two parts:", (first_part, second_part))

Original list: [1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3
Splitted the said list into two parts: ([1, 1, 2], [3, 4, 4, 5, 1])

Write a Python program to traverse a given list in reverse order, and print the
elements with the original index.
Original list:
['red', 'green', 'white', 'black']
Traverse the said list in reverse order:
black
white
green
red

In [10]:
original_list = ['red', 'green', 'white', 'black']
print("Traverse the said list in reverse order:")
for i in range(len(original_list) - 1, -1, -1):
    print(f"Element: {original_list[i]}, Original Index: {i}")

Traverse the said list in reverse order:
Element: black, Original Index: 3
Element: white, Original Index: 2
Element: green, Original Index: 1
Element: red, Original Index: 0

Write a Python program and calculate the mean of the below dictionary.
test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}
Output: 6.2

In [11]:
test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}
total_sum = sum(test_dict.values())
count = len(test_dict)
mean_value = total_sum / count

print("Mean of the dictionary values:", mean_value)

Mean of the dictionary values: 6.2

2.Write a Python script to concatenate the following dictionaries to create a new one.
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
new_dict = {}
new_dict.update(dic1)
new_dict.update(dic2)
new_dict.update(dic3)

print("Expected Result:", new_dict)

Expected Result: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

3.Write a Python program to get the key, value and item in a dictionary.
input:dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print("Key, Value, and Item in the dictionary:")
for key, value in dict_num.items():
    print(f"Key: {key}, Value: {value}, Item: {(key, value)}")

Key, Value, and Item in the dictionary:
Key: 1, Value: 10, Item: (1, 10)
Key: 2, Value: 20, Item: (2, 20)
Key: 3, Value: 30, Item: (3, 30)
Key: 4, Value: 40, Item: (4, 40)
Key: 5, Value: 50, Item: (5, 50)
Key: 6, Value: 60, Item: (6, 60)

4.Write a Python program to get the key, value and item in a dictionary.
Input: input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}

In [14]:
input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}
print("Key, Value, and Item in the dictionary:")
for key, value in input_dict.items():
    print(f"Key: {key}, Value: {value}, Item: {(key, value)}")

Key, Value, and Item in the dictionary:
Key: 1, Value: 10, Item: (1, 10)
Key: 2, Value: 20, Item: (2, 20)
Key: 3, Value: None, Item: (3, None)
Key: 4, Value: 40, Item: (4, 40)
Key: 5, Value: None, Item: (5, None)
Key: 6, Value: 60, Item: (6, 60)

1. Write a Python program to find the number of times 4 appears in the tuple.
Input:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )
Output: 3

In [15]:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )
count_of_4 = tuplex.count(4)
print(count_of_4)

3

2.Write a Python program to convert a list to a tuple.
Input: listx = [5, 10, 7, 4, 15, 3]
Output: (5, 10, 7, 4, 15, 3)

In [16]:
listx = [5, 10, 7, 4, 15, 3]
tuplex = tuple(listx)
print(tuplex)

(5, 10, 7, 4, 15, 3)

3. Write a Python program to calculate the sum of the numbers in a given tuple.
Input: tuples_list = [(1, 2), (3, 4), (5, 6)]

In [17]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
total_sum = 0
for tup in tuples_list:
    for num in tup:
        total_sum += num
print("Sum of the numbers in the tuples:", total_sum)

Sum of the numbers in the tuples: 21

4.Write a python program and iterate the given tuples
Input:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

In [18]:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
print("Iterating through employee tuples:")
print("\nEmployee 1:")
for item in employee1:
    print(item)
print("\nEmployee 2:")
for item in employee2:
    print(item)
print("\nEmployee 3:")
for item in employee3:
    print(item)

Iterating through employee tuples:

Employee 1:
John Doe
101
Human Resources
60000

Employee 2:
Alice Smith
102
Marketing
55000

Employee 3:
Bob Johnson
103
Engineering
75000

1. Write a Python program to Get Only unique items from two sets.
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Output:
{70, 40, 10, 50, 20, 60, 30}

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
unique_items = set1.union(set2)
print(unique_items)

{70, 40, 10, 50, 20, 60, 30}

2. Write a Python program to Return a set of elements present in Set A or B, but
not both.
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Output:
{20, 70, 10, 60}

In [21]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{20, 70, 10, 60}

3. Write a Python program to Check if two sets have any elements in common. If
yes, display the common elements.
Input:

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

Output:
{10}

In [22]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
common_elements = set1.intersection(set2)

if common_elements:
    print(common_elements)
else:
    print("No common elements found.")

{10}

3. Write a Python program to Remove items from set1 that are not common to
both set1 and set2.
Input:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Output:
{40, 50, 30}

In [23]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)

print(set1)

{40, 50, 30}