<a href="https://colab.research.google.com/github/saiRajAj/DAVIS/blob/main/list_dictionary_tuple_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to store 5 student marks in a list and display them.

In [9]:
list1 = []
for i in range(1,6):
  list1.append(int(input(f"Enter marksof Student {i}: ")))
print(list1)

Enter marksof Student 1: 1
Enter marksof Student 2: 23
Enter marksof Student 3: 43
Enter marksof Student 4: 43
Enter marksof Student 5: 5
[1, 23, 43, 43, 5]

Write a program to find the largest number in a list.

In [11]:
list1 = []
r = int(input("Enter the size of list: "))
for i in range(r):
  list1.append(int(input(f"Enter numbers in list: ")))
print(max(list1))

Enter the size of list: 2
Enter numbers in list: 1
Enter numbers in list: 4
4

Write a program to count how many times a particular element appears in a list.

In [12]:
list1 = []
r = int(input("Enter the size of list: "))
for i in range(r):
  list1.append(int(input("Enter numbers in list: ")))
element = int(input('Enter the element you want to count : '))
print(list1.count(element))

Enter the size of list: 4
Enter numbers in list: 34
Enter numbers in list: 2
Enter numbers in list: 45
Enter numbers in list: 2
Enter the element you want to count : 2
2

Write a program to add a new element to a list and remove an existing element.

In [14]:
list1 = []
r = int(input("Enter the size of list: "))
for i in range(r):
  list1.append(int(input("Enter numbers in list: ")))
print(list1)
n = int(input('Enter the Element you want to add in list: '))
o = int(input('Enter the Element you want to remove from list: '))
i = list1.index(o)
list1[i] = n
print(list1)

Enter the size of list: 3
Enter numbers in list: 1
Enter numbers in list: 2
Enter numbers in list: 4
[1, 2, 4]
Enter the Element you want to add in list: 3
Enter the Element you want to remove from list: 4
[1, 2, 3]

Write a program to calculate the sum of all elements in a list.

In [15]:
list1 = []
r = int(input("Enter the size of list: "))
for i in range(r):
  list1.append(int(input("Enter numbers in list: ")))
print(sum(list1))

Enter the size of list: 2
Enter numbers in list: 10
Enter numbers in list: 24
34

Write a program to create a tuple of 5 numbers and display the second element.

In [2]:
tuple1 = (10,20,30,40,50)
print(tuple1[1])

20

Write a program to check whether an element exists in a tuple.

In [5]:
tuple1 = (10,20,30,10,40,50)
element = int(input('Enter the element you want to check : '))
print(element in tuple1)

Enter the element you want to check : 10
True

Write a program to convert a tuple into a list.

In [6]:
tuple1 = (10,20,30,10,40,50)
list1 = list(tuple1)
print(list1)

[10, 20, 30, 10, 40, 50]

Write a program to find the length of a tuple.

In [9]:
tuple1 = (10,20,30,40,50)
print(len(tuple1))

5

Write a program to explain why tuple is immutable with an example.

In [10]:
tuple1 = (10,20,30,40,50)
tuple1[1] = 25
print(tuple1)

TypeError: 'tuple' object does not support item assignment

Write a program to store student details using a dictionary and display them.

In [11]:
dict1 = {}
stud = int(input('Enter total no of students : '))
for i in range(1,stud+1):
  name = input(f'Enter name of student {i} : ')
  marks = int(input(f'Enter marks of student {i} : '))
  dict1[name] = marks
print(dict1)

Enter total no of students : 2
Enter name of student 1 : sai
Enter marks of student 1 : 12
Enter name of student 2 : raj
Enter marks of student 2 : 45
{'sai': 12, 'raj': 45}

Write a program to add a new key-value pair in a dictionary.

In [12]:
dict1 = {'a':10,'b':20,'c':30}
dict1['d'] = 40
print(dict1)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

Write a program to update the value of an existing key in a dictionary.

In [13]:
dict1 = {'a':10,'b':20,'c':30}
dict1['a'] = 40
print(dict1)

{'a': 40, 'b': 20, 'c': 30}

Write a program to check whether a key exists in a dictionary.

In [16]:
dict1 = {'a':10,'b':20,'c':30}
key = input('Enter the key you want to check : ')
print(key in dict1)

Enter the key you want to check : c
True

Write a program to print all keys and values of a dictionary.

In [17]:
dict1 = {'a':10,'b':20,'c':30}
print(dict1.keys())
print(dict1.values())

dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

Write a program to create a set with duplicate values and display the output.

In [18]:
set1 = {10,20,30,10,40,50}
print(set1)

{50, 20, 40, 10, 30}

Write a program to add a new element to a set.

In [19]:
set1 = {10,20,30,40,50}
set1.add(60)
print(set1)

{50, 20, 40, 10, 60, 30}

Write a program to remove an element from a set.

In [20]:
set1 = {10,20,30,40,50}
set1.remove(30)
print(set1)

{50, 20, 40, 10}

Write a program to find the union of two sets.

In [21]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

Write a program to find the intersection of two sets.

In [22]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.intersection(set2))

{40, 50, 30}