<a href="https://colab.research.google.com/github/saiRajAj/DAVIS/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Predefined Functions

In [2]:
name = "Joe"
l = len(name)
print(l)

3

In [3]:
age = 20
t = type(age)
print(t)

<class 'int'>

In [5]:
num = input("Enter Your Name : ")
n = num * 2
n = int(num) * 2
print(n)

Enter Your Name : 6
12

String in Python is a sequence of characters enclosed with the single or double quotes

In [6]:
name = "Sai"
city = "Pune"
message = "Hello Everyone..."

In [7]:
name = "Python"
print(name[0])
print(name[len(name) - 1])

P
n

String Functions

In [8]:
name = "python"
print(name.upper())

PYTHON

In [12]:
text = "    hello       "
print(text.strip())

hello

In [14]:
msg = "hello"
print(msg.replace("h","H"))

Hello

In [ ]:
text = "I love programs in "
print(text.find("programs"))

In [15]:
sen = "python is good than other"
print(sen.split())

['python', 'is', 'good', 'than', 'other']

In [20]:
name = input("Enter Your name : ")
name = name.replace(" ","")
username = '@'+name.lower()+str(len(name))
print(username)

Enter Your name : Sairaj
@sairaj6